<nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-center">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/src/app/about/about.component.html">Accueil</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="/src/app/portfolio/portfolio.component.html">Portfolio</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="/src/app/contact/contact.component.html">Contact</a></li>
              </ul>
        </div>
    </div>
</nav>