<nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="#" alt="Logo" width="100" height="24" class="d-inline-block align-text-top">
            MB-IT-Solutions
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/src/app/about/about.component.html">À propos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/src/app/portfolio/portfolio.component.html">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/src/app/contact/contact.component.html">Contact</a>
            </li>
            </ul>
        </div>
    </div>
</nav>