<div class="container">
    <h2>>A propos</h2>
    <span class="bar-title mb-5"></span>
    <div class="row">
        <div data-aos="fade-right" class="col-lg-4 col-md-12 aos-init aos-animate">
            <picture>
            <img src="assets/images/profile.jpg alt="photo de profil class="img-fluid"/>
            </picture>
        <div class="d-flex justify-content-center">
            <a href="https://www.linkedin.com/in/zinedine-benkhider/" rel="tooltip" target="_blank" class="btn-social-media" title="Suivez-moi sur Linkedin">
                <i class="fa fa-linkedin fa-lg"></i>
            </a>
            <a href="https://github.com/zinedineBenkhider" rel="tooltip" target="_blank" class="btn-social-media btn-default btn-round btn-lg btn-icon" title="Suivez-moi sur GitHub">
                <i class="fa fa-github fa-lg"></i>
            </a>
        </div>
        </div>

        <div data-aos="fade-left" class="col-lg-8 col-md-12 pt-4 pt-lg-0 aos-init aos-animate">
        <h3>Développeur d'applications web et mobiles</h3>
            <p class="font-italic">Intéressé par les nouvelles technologies et méthodes de travail. J'aime proposer des idées qui permettent d'améliorer les processus d'affaires.
            <br/>
            Passionné par le développement <b>Back-End</b> et <b>Front-End</b>.
            </p>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <ul>
                    <li><strong>Mobile dans toute la France</strong></li>
                    <li><strong> Lens, France</strong></li>
                    <li><strong><a href="mailto:zinedine.benkhider@gmail.com">zinedine.benkhider@gmail.com</a></strong></li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6">
                <ul>
                    <li><strong> 26 ans</strong></li>
                    <li><strong> Master 2 Informatique</strong></li>
                    <li><strong> Recherche de contrat CDI </strong></li>
                </ul>
            </div>
        </div>
            <p>Je recherche une entreprise innovante et centrée sur l'utilisateur pour répondre au mieux aux besoins du client, de son idée à la livraison
            finale de son projet, ou participer à l'amélioration d'un projet existant.</p>
        </div>
    </div>
</div>

<a href="#" id="scroll" style="display: none"><span></span></a>

<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="assets/img/testimonial-2.jpg" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span>Morgan Freeman</span></p>
                      <p><span class="title-s">Profile: </span> <span>full stack developer</span></p>
                      <p><span class="title-s">Email: </span> <span>contact@example.com</span></p>
                      <p><span class="title-s">Phone: </span> <span>(617) 557-0089</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">Skill</p>
                  <span>HTML</span> <span class="pull-right">85%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>CSS3</span> <span class="pull-right">75%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>PHP</span> <span class="pull-right">50%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>JAVASCRIPT</span> <span class="pull-right">90%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="lead">
                    Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id
                    imperdiet et, porttitor
                    at sem. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla
                    porttitor accumsan tincidunt.
                  </p>
                  <p class="lead">
                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget felis
                    porttitor volutpat. Vestibulum
                    ac diam sit amet quam vehicula elementum sed sit amet dui. porttitor at sem.
                  </p>
                  <p class="lead">
                    Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                    Nulla porttitor accumsan
                    tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>